<<<<<<< HEAD
﻿        #divxy {
            position: absolute;
            left: 13%;
            bottom: 0.1px;
            z-index: 1;
        }

           #BasemapToggle {
            position: absolute;
            top: 20px;
            left: 60%;
            z-index:101;
                          }                 

        #mapDiv{
            height: 100%;
			float:right;
			display:inline;
			width:60%;
            padding:51px 0px 0px 0px;
            
        }
		#ziliao{
			width:40%;
			height:100%;
			padding-top:51px;
			float:left;
			display:inline;
			overflow:auto;

		}

         body{ 
	   padding-top: 50px;
       overflow-x: hidden;
       overflow-y: hidden;
       } 
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
		#lbziliao{
			font:18px 楷体;
			margin-left:10px;

		}
		
		 /*测量工具*/
    #titlePane{
       top:250px;
       width:auto;
    }

    #titlePane_pane{
       width:200px
	}
   /*全图显示按钮*/
    #HomeButton{
       position:absolute;
       top: 140px;
       margin-left:20px;
       z-index: 50;
    }
	
	 #divxy{
       position: absolute;
       left: 600px;
       bottom: 0.1px;
       z-index: 50;
=======
﻿        #divxy {
            position: absolute;
            left: 13%;
            bottom: 0.1px;
            z-index: 1;
        }

           #BasemapToggle {
            position: absolute;
            top: 20px;
            left: 60%;
            z-index:101;
                          }                 

        #mapDiv{
            height: 100%;
			float:right;
			display:inline;
			width:60%;
            padding:51px 0px 0px 0px;
            
        }
		#ziliao{
			width:40%;
			height:100%;
			padding-top:51px;
			float:left;
			display:inline;
			overflow:auto;
			background:url(~/resource/image/ziliaobj.jpg);

		}

         body{ 
	   padding-top: 50px;
       overflow-x: hidden;
       overflow-y: hidden;
       } 
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
		#lbziliao{
			font:18px 楷体;
			margin-left:10px;

		}
		
		 /*测量工具*/
    #titlePane{
       top:250px;
       width:auto;
    }

    #titlePane_pane{
       width:200px
	}
   /*全图显示按钮*/
    #HomeButton{
       position:absolute;
       top: 140px;
       margin-left:20px;
       z-index: 50;
    }
	
	 #divxy{
       position: absolute;
       left: 600px;
       bottom: 0.1px;
       z-index: 50;
>>>>>>> d80a3d1fac9b2cc38f316903fe8ecb6bda32078a
    }