<!html>
<html>
<head>
    <title>群组聊天</title>
    <script src="~/resource/js/jquery-3.1.1.js"></script>
    <script></script>
</head>
<body>
    <label>信息的展示窗口</label><br />
    <div id="infoshow">
        <textarea id="TextArea1" rows="30" cols="20"></textarea>
    </div>
    <br />
    <label>群组人员聊天列表</label>
    <div id="showGropuserINfo">
        
    </div><br />
    <label>消息发送窗口</label>
    <div id="infotext">
        <textarea id="TextArea1" rows="5" cols="20"></textarea>
    </div><br />
    <button onclick=""  value="发送信息">发送信息</button>
</body>
</html>