<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conStr" connectionString="Data Source=USER-20160610ZA;Initial Catalog=redmomery;Persist Security Info=True;User ID=redmomery;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
	</connectionStrings>
</configuration>
