/*
   2017年7月9日19:49:42
   用户: sa
   服务器: CHENZENGHUI
   数据库: redmomery
   应用程序: 
*/

/* 为了防止任何可能出现的数据丢失问题，您应该先仔细检查此脚本，然后再在数据库设计器的上下文之外运行此脚本。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_ARMY_INFO
	(
	ARMY_ID int NOT NULL IDENTITY (1, 1),
	ARMY_NAME varchar(50) NULL,
	ARMY_TIME datetime NULL,
	ARMY_ADDRESS varchar(100) NULL,
	ARMY_LOCX float(53) NULL,
	ARMY_LOCY float(53) NULL,
	ARMY_INTRO text NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_ARMY_INFO SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_ARMY_INFO ON
GO
IF EXISTS(SELECT * FROM dbo.ARMY_INFO)
	 EXEC('INSERT INTO dbo.Tmp_ARMY_INFO (ARMY_ID, ARMY_NAME, ARMY_TIME, ARMY_ADDRESS, ARMY_LOCX, ARMY_LOCY, ARMY_INTRO)
		SELECT ARMY_ID, ARMY_NAME, ARMY_TIME, ARMY_ADDRESS, ARMY_LOCX, ARMY_LOCY, CONVERT(text, ARMY_INTRO) FROM dbo.ARMY_INFO WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_ARMY_INFO OFF
GO
DROP TABLE dbo.ARMY_INFO
GO
EXECUTE sp_rename N'dbo.Tmp_ARMY_INFO', N'ARMY_INFO', 'OBJECT' 
GO
ALTER TABLE dbo.ARMY_INFO ADD CONSTRAINT
	PK_ARMY_INFO PRIMARY KEY CLUSTERED 
	(
	ARMY_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.ARMY_INFO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ARMY_INFO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ARMY_INFO', 'Object', 'CONTROL') as Contr_Per 