/*
   2017年7月9日19:49:41
   用户: sa
   服务器: CHENZENGHUI
   数据库: redmomery
   应用程序: 
*/

/* 为了防止任何可能出现的数据丢失问题，您应该先仔细检查此脚本，然后再在数据库设计器的上下文之外运行此脚本。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_BBSCONTENTS
	(
	BSS_ID int NOT NULL,
	CONNAME text NULL,
	CONREXT text NULL,
	WRITEDATE datetime NULL,
	WRITEID int NULL,
	REPLYID int NULL,
	CRTIME datetime NULL,
	KINDID int NULL,
	KINDNAME varchar(200) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_BBSCONTENTS SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.BBSCONTENTS)
	 EXEC('INSERT INTO dbo.Tmp_BBSCONTENTS (BSS_ID, CONNAME, CONREXT, WRITEDATE, WRITEID, REPLYID, CRTIME, KINDID, KINDNAME)
		SELECT BSS_ID, CONVERT(text, CONNAME), CONVERT(text, CONREXT), WRITEDATE, WRITEID, REPLYID, CRTIME, KINDID, KINDNAME FROM dbo.BBSCONTENTS WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.BBSCONTENTS
GO
EXECUTE sp_rename N'dbo.Tmp_BBSCONTENTS', N'BBSCONTENTS', 'OBJECT' 
GO
ALTER TABLE dbo.BBSCONTENTS ADD CONSTRAINT
	PK_BBSCONTENTS PRIMARY KEY CLUSTERED 
	(
	BSS_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.BBSCONTENTS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.BBSCONTENTS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.BBSCONTENTS', 'Object', 'CONTROL') as Contr_Per 