/*
   2017年7月19日2:08:04
   用户: sa
   服务器: CHENZENGHUI
   数据库: redmomery
   应用程序: 
*/

/* 为了防止任何可能出现的数据丢失问题，您应该先仔细检查此脚本，然后再在数据库设计器的上下文之外运行此脚本。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.BBSTITLE_TABLE
	DROP CONSTRAINT FK_BBSTITLE_TABLE_USER_INFO
GO
ALTER TABLE dbo.USER_INFO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.USER_INFO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.USER_INFO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.USER_INFO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.BBSTITLE_TABLE
	DROP CONSTRAINT FK_BBSTITLE_TABLE_moduleBBS_Table
GO
ALTER TABLE dbo.moduleBBS_Table SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.moduleBBS_Table', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.moduleBBS_Table', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.moduleBBS_Table', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.BBSTITLE_TABLE
	DROP CONSTRAINT DF_BBSTITLE_TABLE_is_pass
GO
CREATE TABLE dbo.Tmp_BBSTITLE_TABLE
	(
	ID int NOT NULL IDENTITY (1, 1),
	M_ID int NULL,
	U_ID int NULL,
	F_TIME datetime NULL,
	N_RESPONSE int NULL,
	TITLE nvarchar(500) NULL,
	Context text NULL,
	N_YES int NULL,
	is_pass int NOT NULL,
	pass_TIME datetime NULL,
	Authonrity int NULL,
	T_key nvarchar(255) NULL,
	MD5 nvarchar(64) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_BBSTITLE_TABLE SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_BBSTITLE_TABLE ADD CONSTRAINT
	DF_BBSTITLE_TABLE_is_pass DEFAULT ((0)) FOR is_pass
GO
SET IDENTITY_INSERT dbo.Tmp_BBSTITLE_TABLE ON
GO
IF EXISTS(SELECT * FROM dbo.BBSTITLE_TABLE)
	 EXEC('INSERT INTO dbo.Tmp_BBSTITLE_TABLE (ID, M_ID, U_ID, F_TIME, N_RESPONSE, TITLE, Context, N_YES, is_pass, pass_TIME, Authonrity, T_key, MD5)
		SELECT ID, M_ID, U_ID, F_TIME, N_RESPONSE, TITLE, Context, N_YES, is_pass, pass_TIME, Authonrity, T_key, MD5 FROM dbo.BBSTITLE_TABLE WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_BBSTITLE_TABLE OFF
GO
ALTER TABLE dbo.FILE_TABLE
	DROP CONSTRAINT FK_FILE_TABLE_BBSTITLE_TABLE
GO
ALTER TABLE dbo.CTBBS_TABLE
	DROP CONSTRAINT FK_CTBBS_TABLE_BBSTITLE_TABLE
GO
ALTER TABLE dbo.SHAPE_TABLE
	DROP CONSTRAINT FK_SHAPE_TABLE_BBSTITLE_TABLE
GO
ALTER TABLE dbo.LB_INFO
	DROP CONSTRAINT FK_老兵_BBSTITLE_TABLE
GO
DROP TABLE dbo.BBSTITLE_TABLE
GO
EXECUTE sp_rename N'dbo.Tmp_BBSTITLE_TABLE', N'BBSTITLE_TABLE', 'OBJECT' 
GO
ALTER TABLE dbo.BBSTITLE_TABLE ADD CONSTRAINT
	PK_BBSTITLE_TABLE PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.BBSTITLE_TABLE ADD CONSTRAINT
	FK_BBSTITLE_TABLE_moduleBBS_Table FOREIGN KEY
	(
	M_ID
	) REFERENCES dbo.moduleBBS_Table
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.BBSTITLE_TABLE ADD CONSTRAINT
	FK_BBSTITLE_TABLE_USER_INFO FOREIGN KEY
	(
	U_ID
	) REFERENCES dbo.USER_INFO
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.BBSTITLE_TABLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.BBSTITLE_TABLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.BBSTITLE_TABLE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.LB_INFO ADD CONSTRAINT
	FK_老兵_BBSTITLE_TABLE FOREIGN KEY
	(
	T_ID
	) REFERENCES dbo.BBSTITLE_TABLE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.LB_INFO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.LB_INFO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.LB_INFO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.LB_INFO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.SHAPE_TABLE ADD CONSTRAINT
	FK_SHAPE_TABLE_BBSTITLE_TABLE FOREIGN KEY
	(
	T_ID
	) REFERENCES dbo.BBSTITLE_TABLE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.SHAPE_TABLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.SHAPE_TABLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.SHAPE_TABLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.SHAPE_TABLE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CTBBS_TABLE ADD CONSTRAINT
	FK_CTBBS_TABLE_BBSTITLE_TABLE FOREIGN KEY
	(
	T_ID
	) REFERENCES dbo.BBSTITLE_TABLE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CTBBS_TABLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CTBBS_TABLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CTBBS_TABLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CTBBS_TABLE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.FILE_TABLE ADD CONSTRAINT
	FK_FILE_TABLE_BBSTITLE_TABLE FOREIGN KEY
	(
	T_ID
	) REFERENCES dbo.BBSTITLE_TABLE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FILE_TABLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.FILE_TABLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.FILE_TABLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.FILE_TABLE', 'Object', 'CONTROL') as Contr_Per 