/*
   2017年7月9日19:49:37
   用户: sa
   服务器: CHENZENGHUI
   数据库: redmomery
   应用程序: 
*/

/* 为了防止任何可能出现的数据丢失问题，您应该先仔细检查此脚本，然后再在数据库设计器的上下文之外运行此脚本。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_GEN_INFO
	(
	GEN_ID int NOT NULL,
	GEN_NAME varchar(20) NULL,
	GEN_BIRTH datetime NULL,
	GEN_EVTIME datetime NULL,
	GEN_ADDRESS varchar(100) NULL,
	GEN_LOCX float(53) NULL,
	GEN_LOCY float(53) NULL,
	GEN_INTRO text NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_GEN_INFO SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.GEN_INFO)
	 EXEC('INSERT INTO dbo.Tmp_GEN_INFO (GEN_ID, GEN_NAME, GEN_BIRTH, GEN_EVTIME, GEN_ADDRESS, GEN_LOCX, GEN_LOCY, GEN_INTRO)
		SELECT GEN_ID, GEN_NAME, GEN_BIRTH, GEN_EVTIME, GEN_ADDRESS, GEN_LOCX, GEN_LOCY, CONVERT(text, GEN_INTRO) FROM dbo.GEN_INFO WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.GEN_INFO
GO
EXECUTE sp_rename N'dbo.Tmp_GEN_INFO', N'GEN_INFO', 'OBJECT' 
GO
ALTER TABLE dbo.GEN_INFO ADD CONSTRAINT
	PK_GEN_INFO PRIMARY KEY CLUSTERED 
	(
	GEN_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.GEN_INFO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.GEN_INFO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.GEN_INFO', 'Object', 'CONTROL') as Contr_Per 