/*
   2017年7月9日19:49:15
   用户: sa
   服务器: CHENZENGHUI
   数据库: redmomery
   应用程序: 
*/

/* 为了防止任何可能出现的数据丢失问题，您应该先仔细检查此脚本，然后再在数据库设计器的上下文之外运行此脚本。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_WAR_INFO
	(
	WAR_ID int NOT NULL,
	WAR_NAME varchar(30) NULL,
	WAR_TIME datetime NULL,
	WAR_ADDRESS varchar(100) NULL,
	WAR_LOCX float(53) NULL,
	WAR_LOCY float(53) NULL,
	WAR_INTRO text NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_WAR_INFO SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.WAR_INFO)
	 EXEC('INSERT INTO dbo.Tmp_WAR_INFO (WAR_ID, WAR_NAME, WAR_TIME, WAR_ADDRESS, WAR_LOCX, WAR_LOCY, WAR_INTRO)
		SELECT WAR_ID, WAR_NAME, WAR_TIME, WAR_ADDRESS, WAR_LOCX, WAR_LOCY, CONVERT(text, WAR_INTRO) FROM dbo.WAR_INFO WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.WAR_INFO
GO
EXECUTE sp_rename N'dbo.Tmp_WAR_INFO', N'WAR_INFO', 'OBJECT' 
GO
ALTER TABLE dbo.WAR_INFO ADD CONSTRAINT
	PK_WAR_INFO PRIMARY KEY CLUSTERED 
	(
	WAR_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.WAR_INFO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.WAR_INFO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.WAR_INFO', 'Object', 'CONTROL') as Contr_Per 