/*
   2017年7月15日19:30:38
   用户: sa
   服务器: CHENZENGHUI
   数据库: redmomery
   应用程序: 
*/

/* 为了防止任何可能出现的数据丢失问题，您应该先仔细检查此脚本，然后再在数据库设计器的上下文之外运行此脚本。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.FILE_TABLE
	DROP CONSTRAINT FK_FILE_TABLE_BBSTITLE_TABLE
GO
ALTER TABLE dbo.BBSTITLE_TABLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.BBSTITLE_TABLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.BBSTITLE_TABLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.BBSTITLE_TABLE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.FILE_TABLE
	DROP CONSTRAINT FK_FILE_TABLE_USER_INFO
GO
ALTER TABLE dbo.USER_INFO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.USER_INFO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.USER_INFO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.USER_INFO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.FILE_TABLE
	DROP CONSTRAINT FK_FILE_TABLE_moduleBBS_Table
GO
ALTER TABLE dbo.moduleBBS_Table SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.moduleBBS_Table', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.moduleBBS_Table', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.moduleBBS_Table', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_FILE_TABLE
	(
	ID int NOT NULL IDENTITY (1, 1),
	U_ID int NULL,
	M_ID int NULL,
	T_ID int NULL,
	url nvarchar(500) NULL,
	Name nvarchar(500) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_FILE_TABLE SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_FILE_TABLE ON
GO
IF EXISTS(SELECT * FROM dbo.FILE_TABLE)
	 EXEC('INSERT INTO dbo.Tmp_FILE_TABLE (ID, U_ID, M_ID, T_ID, url, Name)
		SELECT ID, U_ID, M_ID, T_ID, url, Name FROM dbo.FILE_TABLE WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_FILE_TABLE OFF
GO
DROP TABLE dbo.FILE_TABLE
GO
EXECUTE sp_rename N'dbo.Tmp_FILE_TABLE', N'FILE_TABLE', 'OBJECT' 
GO
ALTER TABLE dbo.FILE_TABLE ADD CONSTRAINT
	PK_FILE_TABLE PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.FILE_TABLE ADD CONSTRAINT
	FK_FILE_TABLE_moduleBBS_Table FOREIGN KEY
	(
	M_ID
	) REFERENCES dbo.moduleBBS_Table
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FILE_TABLE ADD CONSTRAINT
	FK_FILE_TABLE_USER_INFO FOREIGN KEY
	(
	U_ID
	) REFERENCES dbo.USER_INFO
	(
	USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FILE_TABLE ADD CONSTRAINT
	FK_FILE_TABLE_BBSTITLE_TABLE FOREIGN KEY
	(
	T_ID
	) REFERENCES dbo.BBSTITLE_TABLE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.FILE_TABLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.FILE_TABLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.FILE_TABLE', 'Object', 'CONTROL') as Contr_Per 