@{
    ViewBag.Title = "ungeofile";
}
<!doctype>
<html>
<head>
    <title>这是文件上传的案例代码</title>
    <script>

    </script>
</head>
<body>
    <form method="post" action="~/Views/upload/ungeofile" enctype="multipart/form-data">
        <input type="file"/>

    </form>

</body>
</html>
