@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta content="text/html; charset=gb2312" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>一寸山河一寸血</title>
    <link href="~/resource/css/style.css" rel="stylesheet" />
    <link href="~/resource/css/bigvideo.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="~/resource/js/video.js"></script>
    <script src="~/resource/js/bigvideo.js"></script>

</head>
<body>
    <div class="banner">
        <img class="cover" src="~/resource/image/img_cover2_1.png">

        <div class="button-wrapper">
            <div class="l1">
                <a href="~/LBbx/LBbx" class="a-btn">
                    <span class="a-btn-text">老兵不朽</span>
                    <span class="a-btn-slide-text">进入</span>
                    <span class="a-btn-icon-right"><span></span></span>
                </a>
            </div>
            <div class="l2">
                <a href="#" class="a-btn">
                    <span class="a-btn-text">战场在线</span>
                    <span class="a-btn-slide-text">进入</span>
                    <span class="a-btn-icon-right"><span></span></span>
                </a>
            </div>
            <div class="l3">
                <a href="#" class="a-btn">
                    <span class="a-btn-text">抗战纪念</span>
                    <span class="a-btn-slide-text">进入</span>
                    <span class="a-btn-icon-right"><span></span></span>
                </a>
            </div>
            <div class="l4">
                <a href="#" class="a-btn">
                    <span class="a-btn-text">系统管理</span>
                    <span class="a-btn-slide-text">进入</span>
                    <span class="a-btn-icon-right"><span></span></span>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
var _width = $(window).width(),
    _height = $(window).height();
$('.banner').css({'height':_height});

$(function() {
      var BV = new $.BigVideo();
      BV.init();
      BV.show('image/big_video4.mp4',
        {ambient:true});
    });
    </script>


</body>
</html>