@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>bing搜索</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script>
    $(function () {
        var PageIndex;
        function query(selectsite, keyword, pageIndex) {
            $.post("search/Bing", { selectsite: selectsite, keyword: keyword, PageIndex: pageIndex }, function (data) {
                $("#result").empty();
                for (var i = 0; i < data.length; i++) {
                    $("#result").append("<div style='padding-top:10px'><div>" + data[i]
                        + "</div></div>");
                }
            });
        };
        $("#query").click(function () {
            PageIndex = 0;
            var selectsite = $.trim($("#selectsite").val());
            var keyword = $.trim($("#keyword").val());
            if (keyword.length < 1) {
                alert('提示'+ "请输入关键词"+ "warning");
                return false;
            }
            query(selectsite, keyword, PageIndex);
            return false;
        });
        $("#Previous").click(function () {
            var selectsite = $.trim($("#selectsite").val());
            var keyword = $.trim($("#keyword").val());
            if (keyword.length < 1) {
                alert('提示'+ "请输入关键词"+"warning");
                return false;
            }
            PageIndex++;
            query(selectsite, keyword, PageIndex);
            return false;
        });
        $("#Next").click(function () {
            var selectsite = $.trim($("#selectsite").val());
            var keyword = $.trim($("#keyword").val());
            if (keyword.length < 1) {
                alert('提示'+ "请输入关键词"+ "warning");
                return false;
            }
            if (PageIndex == 0) {

            } else {
                PageIndex--;
            }

            query(selectsite, keyword, PageIndex);
            return false;
        });
    });
    </script>
</head>
<body>
   请输入网站 <input type="text" id="selectsite"/><br />
   请输入关键字 <input type="text" id="keyword" /><br />
    <input type="button" id="query" value="查询" /><br />
    <div id="result"></div>
    <br /> <input type="button" id="Previous" value="上一页" />
    <input type="button" id="Next" value="下一页" />
</body>
</html>