<!DOCTYPE html>
<html>
<head>
    <title>激活页面</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script>    
    </script>
</head>
<body>
      恭喜您，激活成功！！
</body>
</html>
