<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录</title>
   <!--<link rel="stylesheet" href="css/reset.css" />--> 
    <title>服务发布页面</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.js"></script>
    <script>
        var userinfo = null;
        function loginc() {
            var userform = $("#loginC")[0];
            var formdata = new FormData(userform);
            $.ajax({
                url: '/User/RegisterUser',
                type: 'POST',
                data: formdata,
                async: false,
                cache: false,
                contenttype: false,
                processdata: false,
                success: function (returndata) {
                    alert("成功");
                },
                error: function (returndata) {
                    alert("失败");
                },
                complete: function (data) {
                    alert(data.responsetext);
                }
            });
        }

    </script>
</head>
<body>
    <div class="wrap login_wrap">
        <div class="content">

            <div class="logo"></div>

            <div class="login_box" style="margin-top: 150px;">

                <div class="login_form">
                    <div class="login_title">
                        登录
                    </div>
                    <form action="/User/Login" method="post" id="loginC" enctype="multipart/form-data">

                        <div class="form_text_ipt">
                            <input id="username" name="username" type="text" placeholder="用户名">
                        </div>
                        <div class="form_text_ipt">
                            <input id="password" name="password" type="password" placeholder="密码">
                        </div>
                        <div class="form_check_ipt">
                            <div class="left check_left">
                                <label><input id="remember" name="remember" type="checkbox">记住账号信息</label>
                            </div>
                            <div class="right check_right">
                                <a href="#">忘记密码</a>
                            </div>
                        </div>
                        <div class="form_btn">
                            <input type="submit" onclick="loginc()" value="登录" />
                        </div>
                        <div class="form_reg_btn">
                            <span>还没有帐号？</span><a href="register.html">马上注册</a>
                        </div>
                    </form><br /><br />
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/common.js"></script>

</body>
</html>
