
<!DOCTYPE html>
<html>
<head>
    <title>用户注册页面</title>
    <link rel="stylesheet" href="../resource/css/login.css" />
    <script type="text/javascript" src="../resource/js/jquery.min.js" ></script>
	<script type="text/javascript" src="../resource/js/login.js" ></script>
</head>
<body>
   <div class="wrap login_wrap">
			<div class="content">
				
				<div class="logo"></div>
				
				<div class="login_box" style="margin-top: 15px;">	
					
					<div class="login_form">
						<div class="login_title">
							注册
						</div>
						<form action="" method="post">
							
							<div class="con4">
		                        <canvas id="cvs" width="100" height="100"></canvas>
		                        <span class="btn upload">上传头像<input type="file" name="userphoto" class="upload_pic" id="upload" /></span>
	                        </div>
							<div class="form_text_ipt">
								<input name="usernamec" type="text" placeholder="用户姓名">
							</div>
							<div class="form_text_ipt">
								<input name="sexc" type="text" placeholder="用户性别">
							</div>
							<div class="form_text_ipt">
								<input name="jobc" type="text" placeholder="用户身份">
							</div>
							<div class="form_text_ipt">
								<input name="userbirthday" type="date" placeholder="用户生日">
							</div>
							<div class="form_text_ipt">
								<input name="addressec" type="text" placeholder="用户地址">
							</div>
							<div class="form_text_ipt">
								<input name="photoc" type="text" placeholder="用户电话">
							</div>
							<div class="form_text_ipt">
								<input name="Emailc" type="text" placeholder="电子邮件">
							</div>
							<div class="form_text_ipt">
								<input name="Netnamec" type="text" placeholder="昵称">
							</div>
							<div class="form_text_ipt">
								<input name="passwordc" type="password" placeholder="密码">
							</div>
							<div class="form_text_ipt">
								<input name="passwordcc" type="password" placeholder="重复密码">
							</div>
							<br />
							
							<div class="form_btn">
								<button type="button">注册</button>
							</div>
							<div class="form_reg_btn">
								<span>已有帐号？</span><a href="DL.html">马上登录</a>
							</div>
						</form><br /><br />
			
					</div>
				</div><br />
			</div>
		</div>
</body>
</html>